* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(0, 0%, 95%);
  font-family: sans-serif;
}

nav {
  padding: 1rem;
  background: hsl(0, 0%, 8%);
  color: white;
}

@media (min-width: 880px) {
  nav {
    padding: 1rem 5rem;
  }
}

.container {
  width: 100%;
  max-width: 770px;
  margin: 1rem auto;
  padding: 0 1rem;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;
}

@media (min-width: 500px) {
  .form-control {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.form-control label {
  margin-bottom: 0.25rem;
  color: hsl(0, 0%, 20%);
}

.form-control input {
  width: 100%;
  height: 2.25rem;
  padding: 0 0.5rem;
  border: 1px solid hsl(0, 0%, 20%);
  border-radius: 4px;
  outline: none;
  background: transparent;
  font-size: 1rem;
}

@media (min-width: 500px) {
  .form-control input {
    width: 65%;
  }
}

.form-control input:focus {
  border-color: hsl(229, 75%, 55%);
}

.form-control input:valid {
  border-color: hsl(140, 75%, 40%);
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.table-container {
  margin: 1rem 0;
  overflow-x: auto;
}

.table {
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
  border-collapse: collapse;
  background: hsl(229, 75%, 55%);
  color: white;
}

.table th {
  white-space: nowrap;
  text-align: left;
}

.table th, .table td {
  padding: 0.75rem 1rem;
  border-bottom: 1px solid hsl(0, 0%, 95%);
}

.table input {
  width: 100%;
  height: 2.25rem;
  padding: 0 0.5rem;
  border: 1px solid hsl(0, 0%, 95%);
  border-radius: 4px;
  outline: none;
  background: transparent;
  font-size: 1rem;
  color: hsl(0, 0%, 100%);
}

.button {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid hsl(140, 75%, 40%);
  border-radius: 4px;
  background: hsl(140, 75%, 40%);
  font-family: inherit;
  font-size: 1rem;
  color: white;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}

.button--block {
  width: 100%;
}

.button--secondary {
  border-color: hsl(0, 0%, 70%);
  background: hsl(0, 0%, 95%);
  color: hsl(0, 0%, 8%);
}